.bannerDiv {
    background-color: transparent;
    background-image: linear-gradient(90deg, #00427F 0%, #00C9EF 100%);
    width: 90%;
    height: 500px;
    border-radius: 50px;
    margin-top: 20px;
    .testHeadingDiv{
        width: 90%;
        color: white;
        color: #FFFFFF;
       font-family: "Plus Jakarta Sans", Sans-serif;
       font-size: 24px;
       font-weight: 600;
       line-height: 44px;
        .testParagraphDiv{
            margin: 50px 0px 0px 50px;
            font-size: 16px;
            .LetTalkButton{
                margin-top: 4rem;
                font-family: "Plus Jakarta Sans", Sans-serif;
                font-size: 1.2em;
                font-weight: 500;
                background-color: #00CCF1;
                border-radius: 18px 18px 18px 18px;
                padding: 10px 20px 10px 20px;
                text-align: center;
                height: 50px;
                color: white;
            }
        }.testImghDiv{
            margin: 40px 0px 0px 40px;
            
        }
    }
    
}