.textHeading{
    text-align: center;
    color: #00407E;
    font-family: "Plus Jakarta Sans", Sans-serif;
    font-size: 2em;
    font-weight: 700;
}.allIconDiv{
    display:flex;
    gap:100px;
    justify-content:center;
    margin-left:60px;
    width:90%;
    margin-top: 50px;
}